.cart {
  width: 70vw;
  display: grid;
  margin: 2em auto;
  gap: 2em;
  grid-template-columns: 70% 30%;
}
.cart-list-item {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.cart-list-item__quantity {
  display: flex;
  flex-direction: column;
}
.cart-list-item__quantity--cart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-list-item__quantity--delete {
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 100%;
  padding: 0.4em 0.6em;
  cursor: pointer;
  border: none;
}
.cart-list-item__quantity--delete > img {
  filter: brightness(3);
}

.cart-list-item__quantity--final-price {
  font-weight: bold;
  margin: 0.5em 0 0;
  text-align: center;
  font-size: 1.8em;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
